header {
  top: 26pt;
  display: flex;
  justify-content: space-around;
  left: 230pt;
  width: auto;
  height: 38pt;
  opacity: 1;
  padding-top: 1rem;
}
body {
  overflow-x: hidden;
}
.section1 {
  background-image: linear-gradient(
    to bottom right,
    rgba(21, 48, 111, 1),
    #070738,
    rgba(21, 48, 111, 1),
    #0b0b32
  );
  opacity: 1;
  width: 100%;
  height: auto;
  padding-bottom: 10vh;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.nav__links {
  text-decoration: none;
  color: white;
}

.btn {
  box-shadow: 1px 1px 3px 0 black;
  color: white;
}
.btn-primary {
  background-image: linear-gradient(
    to top right,
    rgb(0, 31, 103),
    #0d0dd5,
    rgb(0, 45, 149),
    #000099
  );
}
h2,
h6,
h5 {
  color: aliceblue;
}
.head__1 {
  margin: 8rem 5rem 3rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.heading__first {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading__5 {
  margin: 1rem 0;
  width: 100%;
}

.first_heading_btns {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 1rem;
}

.audit__data__h5 {
  width: 15rem;
}
.data__by__audits {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  font-size: small;
  flex-direction: row;
}
.data_heading_box {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.Blue_font {
  color: rgba(45, 131, 238, 1);
  font-size: xx-large;
}

/* Section 1 ends */

.section2 {
  margin: 7%;
}
.image__and__service {
  margin: 5rem;
  display: flex;
  gap: 8rem;
  justify-content: center;
}
.clients_heading,
.service__heading,
.security_heading,
.section4__heading {
  color: #0073ff;
  letter-spacing: 0.2rem;
  font-size: small;
}
.service__main__heading {
  color: #391400;
  font: normal normal normal 18px/32px Jost;
}
.features_and_advertisements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.security_heading {
  text-align: center;
}
.security__mainHeading {
  color: #391400;
  text-align: center;
}
.service {
  width: 30%;
}
.security_img {
  width: 100%;
  margin: 1rem;
}

/* Section2 ends */

.section3 {
  background-image: linear-gradient(
    to bottom right,
    rgba(21, 48, 111, 1),
    #070738,
    rgba(21, 48, 111, 1),
    #0b0b32
  );
  width: 100%;
  height: 100vh;
}
.latest__work__heading {
  color: aliceblue;
  text-align: center;
}
.btns__portfolio {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
}
.portfolio {
  padding: 1rem;
}
.img__218copy {
  width: 8rem;
  display: inline-block;
  height: 10rem;
}

.stackOS__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
}
.btns__report {
  display: flex;
  gap: 1rem;
}

/* Section 3 ends */

.section4 {
  display: flex;
  margin: 1rem 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stack__para {
  color: white;
}
.stack_OS_report {
  margin: 1rem;
}
.button_portfolio {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.section4__first__box {
  width: 15rem;
  margin-top: 12%;
}
.section4__mainHeading {
  color: #391400;
}
.section4__position__box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.position__box1 {
  color: #0073ff;
  width: 25rem;
  padding: 1rem 2rem;
  display: inline-block;
  border: 1px solid #0073ff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.position__box2 {
  color: #0073ff;
  width: 25rem;
  padding: 1rem 2rem;
  display: inline-block;
  border: 1px solid #0073ff;
  border-radius: 10px;
  position: absolute;
  top: 4rem;
  right: 5rem;
}
.position__box3 {
  background-color: #0073ff;
  color: white;
  padding: 1rem 2rem;
  width: 25rem;
  display: inline-block;
  border: 1px solid #0073ff;
  border-radius: 10px;
  position: absolute;
  top: 9rem;
  right: 8rem;
}

.position__box4 {
  color: #0073ff;
  padding: 1rem 2rem;
  width: 25rem;
  display: inline-block;
  border: 1px solid #0073ff;
  border-radius: 10px;
  position: absolute;
  top: 14rem;
  right: 5rem;
}
.position__box5 {
  color: #0073ff;
  padding: 1rem 2rem;
  width: 25rem;
  display: inline-block;
  border: 1px solid #0073ff;
  border-radius: 10px;
  position: absolute;
  top: 19.5rem;
  right: 0;
}

/* Section 4 ends    */

.section5,
.section6 {
  margin: 10rem;
}
.card_img {
  width: 10rem;
  height: 5rem;
}
.company__names {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.card_company {
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 234, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0 rgb(41, 51, 51);
}
.clients__saying {
  display: flex;
  margin: 4rem;
  justify-content: space-between;
}
.mainbox__section5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.section5__thirdbox_imge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15rem;
}
.section5__thirdbox_heading {
  color: #391400;
}
.section5__para {
  font-size: smaller;
}
.brown__text {
  font-size: larger;
  color: #000000;
  font-weight: 500;
}
.ceo__stackOS__name {
  color: #391400;
}

/* Section 5 ends */

.section6__faq {
  width: 26rem;
}
.section__faq_and_answers,
.video_blogs {
  display: flex;
  justify-content: space-around;
}
.answers_faq {
  width: 20rem;
}

.blog__Section6 {
  margin: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section6__para {
  color: #2d83ee;
  font-weight: 400;
}
.section6__thirdbox_imge {
  width: 16rem;
}
.section6__description,
.section6__date {
  color: #391400;
  font-size: small;
}
.section__6image {
  width: 16rem;
}

/* Section6 ends */

.section7__firstbox {
  mix-blend-mode: multiply;
  background-image: linear-gradient(
    to bottom right,
    rgba(21, 48, 111, 1),
    #070738,
    rgba(21, 48, 111, 1),
    #0b0b32
  );
  display: flex;
  justify-content: space-around;
  opacity: 1;
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
}
.hashingBit__description {
  width: 47%;
}
.hashingBit__img {
  width: 15rem;
  height: 9rem;
}
.hashingBit_inputBox {
  background: #0000004d 0% 0% no-repeat padding-box;
  border-radius: 10px;
  border: transparent;
  width: 20rem;
  height: 2rem;
  padding: 1rem;
}
.hashingBit__para {
  color: white;
  font-size: small;
}
.message_img {
  margin-top: 35%;
}

.section7__lastBox {
  background-color: #2d83ee;
  display: flex;
  width: 70%;
  margin: 5rem 10rem;
  border-radius: 10px;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
}
.section7__lastBox_first {
  width: 30%;
}

.section7__lastBox_first_heading,
.section7__lastBox_first_para {
  color: rgb(255, 255, 255);
}
.section7__lastBox_first_para {
  font-size: smaller;
}
.section7__lastBox__image {
  height: 20rem;
}

.readMore {
  width: 10rem;
  height: 3rem;
}

/* section7 ends */

footer {
  background-color: #28293e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__Box-Main {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  justify-content: space-around;
}
.footer__Box {
  width: 20%;
}
.footer__para {
  color: aliceblue;
  font-size: small;
}
.footer__img {
  width: 8rem;
  height: 2rem;
}

.footer__li {
  list-style: none;
  color: white;
}
.footer_final_heading {
  color: aliceblue;
  text-align: center;
  margin: 1rem;
}
.footer__icon {
  width: 2rem;
  height: 2rem;
}
.foooter_linkBox {
  display: flex;
  gap: 1rem;
}
hr {
  color: white;
  font-size: xx-large;
  font-weight: 1000;
}
.footer_last_para {
  color: aliceblue;
}

@media screen and (max-width: 1000px) {
  header {
    height: 3rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .audit__data__h5 {
    width: 14rem;
  }
  .Blue_font {
    font-size: large;
  }
  .section2 {
    margin: 7%;
  }
  .section3 {
    width: 100%;
    height: auto;
    padding-bottom: 4rem;
  }

  .portfolio {
    padding: 1rem;
  }
  .section4 {
    margin: 1rem 2rem;
  }
  .card_img {
    width: 10rem;
    height: 5rem;
  }
  .company__names {
    display: flex;
    justify-content: center;
  }
  .clients__saying {
    margin: 2rem;
  }
  .mainbox__section5 {
    margin-top: 2rem;
  }
  .section6__faq {
    width: 30rem;
  }
  .answers_faq {
    width: 20rem;
  }
  .section6__thirdbox_imge {
    width: 8rem;
  }
  .section__6image {
    width: 10rem;
  }
.footer__Box-Main {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  flex-wrap: wrap;
  padding: 2rem 2rem;
}
}
@media screen and (max-width: 850px) {
  nav {
    gap: 1rem;
  }
  .audit__data__h5 {
    width: 10rem;
    font-size: small;
  }
  .Blue_font {
    font-size: 1rem;
  }

  .section2 {
    margin: 7%;
  }
  .section3 {
    height: auto;
    padding-bottom: 4rem;
  }
  .section4 {
    margin: 1rem 2rem;
  }

  .stack_OS_report {
    margin: 1rem;
  }
  .position__box1 {
    width: 20rem;
    font-size: smaller;
    top: 0;
    right: 0;
  }
  .position__box2 {
    width: 20rem;
    font-size: smaller;
    top: 5rem;
    right: 5rem;
  }
  .position__box3 {
    font-size: smaller;
    width: 20rem;
  }

  .position__box4 {
    padding: 1rem 2rem;
    width: 20rem;
    top: 15rem;
  }
  .position__box5 {
    font-size: smaller;
    width: 20rem;
    top: 19.9rem;
  }
  .company__names {
    justify-content: center;
  }
  .mainbox__section5 {
    gap: 1rem;
  }
  .section6__faq {
    width: 30rem;
  }
  .section6__thirdbox_imge {
    width: 8rem;
  }
  .section__6image {
    width: 8rem;
  }
  .section7__lastBox {
    margin: 5rem auto;
  }
  .footer__icon {
    width: 2rem;
    height: 2rem;
  }
  .footer__Box-Main {
    flex-direction: column;
    align-items: center;
    justify-content: var();
    gap: 2rem;
  }
  .footer__Box {
    width: 50%;
  }
}

/* =========================== */

@media screen and (max-width: 740px) {
  header {
    height: 3rem;
  }
  .page__logo {
    width: 7rem;
    height: 3rem;
  }
  nav {
    gap: 1rem;
  }
  .nav__links {
    font-size: smaller;
  }

  .btn {
    font-size: smaller;
    width: auto;
  }
  .btn-primary {
    background-image: linear-gradient(
      to bottom right,
      rgba(21, 48, 111, 1),
      #5757fb,
      rgba(21, 48, 111, 1),
      #3636ff
    );
    font-size: small;
  }
  .audit__data__h5 {
    width: 10rem;
    font-size: small;
  }

  .Blue_font {
    font-size: 1rem;
  }

  .section3 {
    height: auto;
    padding-bottom: 4rem;
  }

  .section4 {
    margin: 1rem 2rem;
  }
  .section4__first__box {
    margin-top: 12%;
  }
  .section4__mainHeading {
    font-size: large;
  }
  .position__box1 {
    width: 20rem;
    font-size: smaller;
    padding: 1rem 2rem;
  }
  .position__box2 {
    width: 20rem;
    font-size: smaller;
    top: 4.5rem;
  }
  .position__box3 {
    font-size: smaller;
    width: 20rem;
    top: 9rem;
    right: 8rem;
  }

  .position__box4 {
    width: 20rem;
    font-size: smaller;
    top: 15rem;
    right: 5rem;
  }
  .position__box5 {
    font-size: smaller;
    width: 20rem;
    top: 19.9rem;
    right: 0;
  }

  .clients__saying {
    margin: 2rem;
  }
  .mainbox__section5 {
    margin-top: 2rem;
    justify-content: center;
    gap: 1rem;
  }

  .section6__faq {
    width: 30rem;
  }
  .section6 {
    width: 80%;
    margin-left: 10%;
  }
  .section__faq_and_answers,
  .video_blogs {
    display: flex;
    justify-content: space-between;
  }
  .answers_faq,
  .accordion {
    width: 20rem;
  }
  .section6__thirdbox_imge {
    width: 8rem;
  }
  .section__6image {
    width: 8rem;
  }
  .section7 {
    width: 100%;
  }

  .contact_email {
    font-size: smaller;
  }
  .footer__Box-Main {
    flex-direction: column;
    align-items: center;
    justify-content: var();
    gap: 2rem;
  }
  .footer__Box {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .data__by__audits {
    flex-direction: column;
    gap: 2rem;
  }

  .image__and__service {
    flex-direction: column;
  }
  .service {
    margin-left: auto;
    width: 50%;
  }
  .section4 {
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
  }
  .section4__position__box {
    width: 100%;
  }

  .position__box1 {
    width: 15rem;
    font-size: smaller;
    padding: 1rem 2rem;
  }
  .position__box2 {
    width: 15rem;
    font-size: smaller;
    top: 4.5rem;
  }
  .position__box3 {
    font-size: smaller;
    width: 15rem;
    top: 9rem;
    right: 8rem;
  }

  .position__box4 {
    width: 15rem;
    font-size: smaller;
    top: 15rem;
    right: 5rem;
  }
  .position__box5 {
    font-size: smaller;
    width: 15rem;
    top: 21.2rem;
    right: 0;
  }
  .section5 {
    margin-top: 28rem;
  }
  .testimonial {
    width: 50%;
  }
  .clients__saying {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .mainbox__section5 {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .section__faq_and_answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .video_blogs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section6__thirdbox_imge,
  .section__6image {
    width: 20rem;
  }
  .section7__lastBox__imagebox,
  .section7__lastBox__image {
    width: 10rem;
    height: 10rem;
  }
  .footer__Box-Main {
    flex-direction: column;
    align-items: center;
    justify-content: var();
    gap: 2rem;
  }
  .footer__Box {
    width: 50%;
  }
}
